*{
    background-color: #1D1D1D;
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
}

a {
    color:#FFF204;
    text-decoration:none;
}

h2{
    color:#838383;
    text-align: center;
}

#home, #info, #awards, #disc{
    display:flex;
}