*{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 300px;
    height:500px;
}

#logo{
    display:flex;
    width:100%;
}

#logo div{
    flex: 0 0 33%;
    text-align:center;
}
.img{
    position:relative;
}

.letter:hover .link{
    visibility: visible;
    opacity:0.75;
}

.link{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

#doc{
    text-align: center;
    
}

#doc a{
    color:gold;
}

a{
    text-decoration:none;
}

@media (max-width:625px){
    #logo{
        flex-direction:column;
    }

    .link{
        visibility: visible;
    }
}

